code/data-exploration.Jmd
code/data-exploration-figs
code/*.log
code/*.out
code/*.tex
code/*.aux
data
tests
outputs/multivariate_model.rds
outputs/multivariate_model1.rds
outputs/multivariate_model2.rds
outputs/multivariate_model3.rds
outputs/multivariate_model-mixture.rds
.Rproj.user
