code/data-exploration.Jmd
code/data-exploration-figs
code/*.log
code/*.out
code/*.tex
code/*.aux
manuscript/dump_ideas.txt
data
tests
plan
dump
plots_presentations
outputs/02_outputs_models
.Rproj.user